       /* FONTS */

/* Poopins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



    @font-face {
        font-family: 'salim';
        src: url("../font/Sallim.ttf") format("otf");
        src: local('salim'),
        url('../font/Sallim.ttf') format('opentype'),
        url('../font/Sallim.ttf') format('svg');
    }
    @font-face {
        font-family: 'bigilla';
        src: url("../font/Bigilla.otf") format("otf");
    }
    .nav-title{
        font-family: 'salim',sans-serif;
    }
    .nav-links{
        font-family: 'bigilla', sans-serif;
    }



    
    
